<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2023 - Boletix - <a asp-area="" asp-controller="Home" asp-action="Privacy">@_localization.Getkey("Privacy")</a>
    </div>
</footer>